@import "~antd/dist/antd.css";
@import "./custom-variables.scss";
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  color: #000000;
}
a,
a:hover,
a:active {
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  text-decoration: none;
}
.container {
  max-width: 80%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  // background: #f1f1f1;
  background-color: lighten($color-primary-light, 30%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: #888;
  height: 40rem;
  background: $color-primary-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darken($color-primary-dark, 10%);
}
