//font-family:
$font-family-lobster: "Lobster", cursive;
$font-family-roboto: "Roboto", sans-serif;
$font-family-openSans: "Open Sans", sans-serif;
$font-family-oswald: "Oswald", sans-serif;

//font-size:
$font-base: 1.6rem;
$font-2rem: 2rem;
$font-2point5rem: 2.5rem;

//color-brands
$Color-fb: #4267b2;
$color-whatsapp: #4ac959;

//color-theme
$color-white: #ffffff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d9d9d9;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

//border-color
$color-border-gray: lighten(gray, 30%);

//web-colors
$color-primary: darken(#414345, 10%);
$color-primary-light: #414345;
$color-primary-dark: #232526;
