@import "./../../../style/custom-variables.scss";
@import "./../../../style/custom-animations.scss";
.header-section-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.4),
      rgba($color-primary-dark, 0.4)
    ),
    url("./background.jpg");
  position: relative;
  .header-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $font-family-lobster;
    padding: 2rem;
    color: $color-grey-light-2;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-dark, 0.4),
      rgba($color-primary-light, 0.4)
    );
    border-radius: 0.5rem;
    .header-text-heading-primary {
      font-size: 5rem;
      letter-spacing: 3px;
    }
    .header-text-heading-secondary {
      font-size: 3rem;
      letter-spacing: 1px;
    }
    .header-text-heading-typewriter {
      font-size: 2.5rem;
      letter-spacing: 2px;
    }
  }
}
.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
  color: $color-primary-dark;
}
@media (max-width: 600px) {
  .header-box {
    top: 60% !important;
    .header-text-heading-primary {
      font-size: 3rem !important;
      letter-spacing: 1px;
    }
    .header-text-heading-secondary {
      font-size: 2rem !important;
      letter-spacing: 0px;
    }
    .header-text-heading-typewriter {
      font-size: 1rem !important;
      letter-spacing: 1px;
    }
  }
}
.goto-top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  background-color: $color-grey-dark-2;
  border-radius: 100%;
  color: $color-primary;
  font-size: 1.6rem;
}
.download-cv {
  margin-top: 1rem;
  text-transform: capitalize;
  color: $color-grey-light-3 !important;
  border: none !important;
  font-size: 1.6rem !important;
  background-color: $color-primary !important;
}
