@import "./../../../style/custom-variables.scss";
@import "./../../../style/custom-animations.scss";

.aboutus-wrapper-resp {
  background-color: #e6e6e6;
  // background-color: $color-primary-light;
  text-align: center;
  padding: 8rem 0;
  .aboutus-heading {
    border-bottom: 1px solid $color-grey-dark-2;
    font-family: $font-family-lobster;
    font-size: 2.5rem;
  }
  .profile-info-resp {
    border-radius: 4rem;
    border-right: 1px solid $color-grey-light-3;
    border-bottom: 1px solid $color-grey-light-3;
    padding: 3rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1) 20%,
      rgba(255, 255, 255, 0.5) 60%
    );
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2) inset,
      -8px -8px 18px 0 rgba(255, 255, 255, 0.55) inset;
    .profile-text-resp {
      margin-top: 2rem;
      text-align: justify;
      text-align-last: center;
      font-size: 1.6rem;
      font-weight: 500;
    }
    .profile-contact-icon {
      color: $color-whatsapp;
      text-align: right;
      font-size: 2rem;
    }
    .profile-contact-no {
      text-align: left;
      font-size: 1.6rem;
      margin-left: 0.5rem;
      font-weight: 500;
    }
  }
  .profile-skil-resp {
    border-radius: 4rem;
    border-right: 1px solid $color-grey-light-3;
    border-bottom: 1px solid $color-grey-light-3;
    padding: 3rem;
    background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.1) 20%,
      rgba(255, 255, 255, 0.5) 60%
    );
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2) inset,
      -8px -8px 18px 0 rgba(255, 255, 255, 0.55) inset;
    .profile-skill-heading {
      font-family: $font-family-lobster;
      border-bottom: 1px solid $color-border-gray;
      padding: 0.5rem;
      font-size: 2rem;
      letter-spacing: 2px;
    }
  }
}
